{% extends 'estate_base.html' %}

{% load humanize %}
{% load static %}

<section id="" class="py-5 text-white" style="background-color: rgb(37, 43, 42)">
  <div class="container" style="font-family: 'Ubuntu', sans-serif;">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-cogs fa-3x mr-4"></i>
        <hr/>
        <h3>Consulting Services</h3>
        <p>
          Our management consulting services focus on our clients' most critical
          issues and opportunities: strategy, marketing, organization, operations, technology,
          transformation, digital, advanced analytics, corporate finance,
          mergers & acquisitions and sustainability across all industries and geographies.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-3x mr-4"></i>
        <hr />
        <h3>Propery Management</h3>
        <p>
          Property management is the daily oversight of residential,
          commercial, or industrial real estate by a third-party contractor.
          Generally, property managers take responsibility for day-to-day repairs and ongoing maintenance,
          security, and upkeep of properties. They usually work for the owners of investment properties
          such as apartment and condominium complexes, private home communities, shopping centers,
          and industrial parks.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-money-bill-alt fa-3x mr-4"></i>
        <hr />
        <h3>Renting & Selling</h3>
        <p>
          Renting can provide some security because you know you can return to your home.
          Selling a house and then buying another home incurs costs,
          so it may be cheaper to rent out your house and move back in when you return
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
